<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>

<body>
<h3>Menu Categories</h3>
{{ knp_menu_render('main') }}
{% if is_granted('ROLE_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Admin</a>
    </li>

{% endif %}
{% if is_granted('ROLE_USER') %}

{% else %}
<li class="nav-item">

    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
</li>
<ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
    {% endif %}
</ul>
{{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}


{# form(form)#}

<form class="form-inline my-2 my-lg-0" action="{{ path('app_site_index') }}" method="get">
    <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
    <button class="btn btn-default my-2 my-sm-0" type="submit">Ищем</button>
</form>

{%  if query != '' %}
{% for searches in search %}

            <a href="{{ path('app_site_post', {'title': searches.title}) }}"><li>{{ searches.title }}</li></a>
            <li>{{ searches.content }}</li>
            <li>{{ searches.author }}</li>

{% endfor %}
{% endif %}

<h1>Все посты</h1>

<p>Sort by:</p>

    <div class="container">
        {% for post in posts  %}
            <a href="{{ path('app_site_post', {'title': post.title}) }}"><li>{{ post.title }}</li></a>
            <li>{{ post.content }}</li>
            <li>{{ post.author }}</li>
        {% endfor %}

        <div class="count">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="count">
            {{ pagination.getTotalItemCount }}
        </div>
        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Content', 'p.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Author', 'p.author') }}</th>
            </tr>

            {% for post in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td><a href="{{ path('app_site_post', {'title': post.title}) }}">{{ post.title }}</a></td>
                    <td>{{ post.content }}</td>
                    <td>{{ post.author }}</td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</body>
</html>
