<h1>{{ postName }}</h1>
{{ knp_menu_render('main') }}
{{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}

    <li>{{ post.title }}</li>
    <li>{{ post.content }}</li>
    <li>{{ post.author }}</li>


<p>Add Comments:</p>
{{ form(form)}}

<h2>Comments ({{ post.comments|length }}):</h2>

{% for comment in post.comments %}
    <li>{{ comment.content }}</li>
    <li>{{ comment.author }}</li>
    <li>{{ comment.createdAt|ago }}</li>
{% endfor %}