<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>

<body>
<h3>Search</h3>
{{ knp_menu_render('main') }}
<li class="nav-item">
    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
</li>
<ul class="navbar-nav ml-auto">
    {% if is_granted('ROLE_USER') %}
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
    {% endif %}
</ul>
{{ wo_render_breadcrumbs({separator: '>', listId: 'breadcrumbs'}) }}


{{ form(searchForm) }}
</body>
</html>
